 *, html {
    margin: 0;
    padding: 0;  
    font-family: Arial, Helvetica, sans-serif;   
 }

 body{  
     display: flex;  
     flex-direction: row-reverse;      
    background-color: white;   
  }

  main {   
    flex-grow: 1;
    height: 100vh; 
    background: center / contain  no-repeat ; 
    background-image: url(background.jpg) ;     
  }

  aside {
      width: 500px;
      background-color: rgb(245, 238, 206);
      padding: 0 20px;
      border-right: 1px solid gray;
      box-shadow: 0 0 10px gray;
  }

  h1, h2 {     
      font-size: 36px;
      text-align: center;      
      color: rgb(28, 110, 231);
      text-shadow: 2px 2px darkgray;
      padding: 20px 0 10px;
  }

  h2 {
    font-size: 20px;
    text-shadow: none;
  }

  p {
      color:rgb(28, 110, 231);
      padding: 5px 0;
  }

  




  .keys {
      display: flex;
      justify-content: space-evenly;
      max-width: 1000px;  
      margin: auto;    
      padding-top: 60vh;
  }

  .key {
      width: 60px;
      padding: 10px 2px;
      background-color: rgb(28, 110, 231);;
      border: 1px solid black;
      border-radius: 5px;      
      box-shadow: 5px 5px 3px black;
      opacity: 75%;

      transition: all 0.2s;
  }

  /* when key pressed add class .playing */

  .playing {
      transform: scale(1.15);
      opacity: 100%;
      border-color: black;
      box-shadow: 0 0 16px gold;
  }

  kbd {
      display: block;
      font-size: 28px;
      font-weight: bold;
      color: white;
      text-align: center; 
      text-shadow: 2px 2px  black;
      
  }

  .sound {
      display: block;
      text-align: center;
      font-weight: bold;
      color: gold;
      text-shadow: 2px 2px  black;
  }
  
@media screen and (max-width : 1600px ) {  
    aside {
        display: none;
    }
}
  